.Container_Order {
    .Order_contain {
        background-color: aliceblue;
        padding: 20px 0px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px black;
        font-family: Arial, Helvetica, sans-serif;

        .formSelect {
            box-shadow: 0px 0px 5px black;
            font-size: 14px;
        }

        h5 {
            font-size: 16px;
        }

        .btn_Order {
            float: right;
            padding: 5px 20px;
            border-radius: 30px;
            box-shadow: 0px 0px 5px black;
            width: max-content;
        }

        .btn_Order:hover {
            box-shadow: 0px 4px 8px black;
            font-size: 16px;
        }
    }
}