@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:ital,wght@1,300&family=Roboto:ital,wght@0,100;0,300;1,100;1,300;1,400&display=swap');


.Container_dataList {
    h2 {
        font-family: Roboto;
        font-size: 26px;
        text-align: start;
        font-style: italic;
    }

    .Acordian_Public {
        font-family: Merriweather;
        font-size: 16px;

        button {
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    .Acordion_Circle {
        font-size: 15px;
    }
}